body {
    margin: 0;
    padding: 0;
    background: url(background.jpg) no-repeat;
    background-size: cover;
}

.menuButtons{
    margin: 100px auto;
    width: 60%;
    padding: 10px;
    text-align: center; 
}

.menuButtons h1{
    color: white;
    background: -webkit-linear-gradient(to right, #45fc45, #1dd0fd, #3a42b4);
    background: linear-gradient(to right, #45fc45, #1dd0fd, #3a42b4);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    font-size: 38px;
}

.menuButtons input{
    background: none;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 5px 0;
    border: 2px solid blue;
    transition-duration: 0.4s;
}

.menuButtons input:hover{
    background-color: blue;
    color: white;
}

